.foot{background-color:yellow;
     text-align:center;
      position:relative; 
      border:2px solid black;
      border-radius: 12px;
       padding:5px;
       text-decoration:underline;
       
}